oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v12.1.0
ORACLE_HOSTNAME=dbserver
INVENTORY_LOCATION=/u01/oraInventory
SELECTED_LANGUAGES=en
oracle.install.option=CRS_SWONLY
ORACLE_BASE=/u01/app
ORACLE_HOME=/u01/app/grid/product/12102
oracle.install.asm.OSDBA=oinstall
oracle.install.asm.OSOPER=oinstall
oracle.install.asm.OSASM=dba
oracle.installer.autoupdates.option=SKIP_UPDATES
